{% extends "base.html" %}
{% load static %}


{% block content %}


    <!-- Header-->
    <header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
            <div class="my-5 text-center text-xl-start">
            <h1 class="display-5 fw-bolder text-white mb-2">
                Want to get new members?
            </h1>
            <p class="lead fw-normal text-white-50 mb-4">
                Find a new family member to accompany you!
            </p>
            <div
                class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
            >
                <a
                class="btn btn-primary btn-lg px-4 me-sm-3"
                href="#"
                target="_blank"
                >Start adoption</a
                >
            </div>
            </div>
        </div>
        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
            <img
            class="img-fluid rounded-3 my-5" 
            src="{% static 'assets/Image/title1.jpg' %}"
            alt="..."
            />
        </div>
        </div>
    </div>
    </header>

    <!-- Testimonial section-->
    <div class="py-5 bg-light masthead">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
        <div class="col-lg-10 col-xl-7">
            <div class="text-center">
            <div class="fs-4 mb-4 fst-italic">
                Support adoption instead of purchasing and save every life.
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>

    <!-- Blog preview section-->
    <section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <div class="text-center">
            <h2 class="fw-bolder">Popular items</h2>
            <p class="lead fw-normal text-muted mb-5">
                Furry kid's favorite
            </p>
            </div>
        </div>
        </div>
        <div class="row gx-5">
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
            <img
                class="card-img-top" 
                src="{% static 'assets/Image/紫色橡皮球.jpg' %}"
                alt="..."
            />
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                News
                </div>
                <a
                class="text-decoration-none link-dark stretched-link"
                href="#!"
                ><h5 class="card-title mb-3">紫色橡皮球</h5></a
                >
                <p class="card-text mb-0">description something about item</p>
                <p class="card-text mb-0">HKD$ 120</p>
                <a class="btn btn-primary" href="#" target="_blank">Buy</a>
            </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
            <img
                class="card-img-top" 
                src="{% static 'assets/Image/綠色食物碗.jpg' %}"
                alt="..."
            />
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                Media
                </div>
                <a
                class="text-decoration-none link-dark stretched-link"
                href="#!"
                ><h5 class="card-title mb-3">綠色食物碗</h5></a
                >
                <p class="card-text mb-0">description something about item</p>
                <p class="card-text mb-0">HKD$ 120</p>
                <a class="btn btn-primary" href="#" target="_blank">Buy</a>
            </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
            <img
                class="card-img-top" 
                src="{% static 'assets/Image/粉紅色咀嚼繩.jpg' %}"
                alt="..."
            />
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                News
                </div>
                <a
                class="text-decoration-none link-dark stretched-link"
                href="#!"
                ><h5 class="card-title mb-3">粉紅色咀嚼繩</h5></a
                >
                <p class="card-text mb-0">description something about item</p>
                <p class="card-text mb-0">HKD$ 120</p>
                <a class="btn btn-primary" href="#" target="_blank">Buy</a>
            </div>
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
            <img
                class="card-img-top" 
                src="{% static 'assets/Image/漢堡玩具.jpg' %}"
                alt="..."
            />
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                News
                </div>
                <a
                class="text-decoration-none link-dark stretched-link"
                href="#!"
                ><h5 class="card-title mb-3">漢堡玩具</h5></a
                >
                <p class="card-text mb-0">description something about item</p>
                <p class="card-text mb-0">HKD$ 120</p>
                <a class="btn btn-primary" href="#" target="_blank">Buy</a>
            </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
            <img
                class="card-img-top" 
                src="{% static 'assets/Image/綠色食物碗.jpg' %}"
                alt="..."
            />
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                Media
                </div>
                <a
                class="text-decoration-none link-dark stretched-link"
                href="#!"
                ><h5 class="card-title mb-3">綠色食物碗</h5></a
                >
                <p class="card-text mb-0">description something about item</p>
                <p class="card-text mb-0">HKD$ 120</p>
                <a class="btn btn-primary" href="#" target="_blank">Buy</a>
            </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
            <img
                class="card-img-top" 
                src="{% static 'assets/Image/貓咪的老鼠玩具.jpg' %}"
                alt="..."
            />
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                News
                </div>
                <a
                class="text-decoration-none link-dark stretched-link"
                href="#!"
                ><h5 class="card-title mb-3">貓咪的老鼠玩具</h5></a
                >
                <p class="card-text mb-0">description something about item</p>
                <p class="card-text mb-0">HKD$ 120</p>
                <a class="btn btn-primary" href="#" target="_blank">Buy</a>
            </div>
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
            <img
                class="card-img-top" 
                src="{% static 'assets/Image/紅色牽繩.jpg' %}"
                alt="..."
            />
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                News
                </div>
                <a
                class="text-decoration-none link-dark stretched-link"
                href="#!"
                ><h5 class="card-title mb-3">紅色牽繩</h5></a
                >
                <p class="card-text mb-0">description something about item</p>
                <p class="card-text mb-0">HKD$ 120</p>
                <a class="btn btn-primary" href="#" target="_blank">Buy</a>
            </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
            <img
                class="card-img-top"  
                src="{% static 'assets/Image/貓咪玩具.jpg' %}"
                alt="..."
            />
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                Media
                </div>
                <a
                class="text-decoration-none link-dark stretched-link"
                href="#!"
                ><h5 class="card-title mb-3">貓咪玩具</h5></a
                >
                <p class="card-text mb-0">description something about item</p>
                <p class="card-text mb-0">HKD$ 120</p>
                <a class="btn btn-primary" href="#" target="_blank">Buy</a>
            </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
            <img
                class="card-img-top" 
                src="{% static 'assets/Image/貓咪的鳳梨床.jpg' %}"
                alt="..."
            />
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                News
                </div>
                <a
                class="text-decoration-none link-dark stretched-link"
                href="#!"
                ><h5 class="card-title mb-3">貓咪的鳳梨床</h5></a
                >
                <p class="card-text mb-0">description something about item</p>
                <p class="card-text mb-0">HKD$ 120</p>
                <a class="btn btn-primary" href="#" target="_blank">Buy</a>
            </div>
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
            <img
                class="card-img-top" 
                src="{% static 'assets/Image/綠色咀嚼繩.jpg' %}"
                alt="..."
            />
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                Media
                </div>
                <a
                class="text-decoration-none link-dark stretched-link"
                href="#!"
                ><h5 class="card-title mb-3">綠色咀嚼繩</h5></a
                >
                <p class="card-text mb-0">description something about item</p>
                <p class="card-text mb-0">HKD$ 120</p>
                <a class="btn btn-primary" href="#" target="_blank">Buy</a>
            </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
            <img
                class="card-img-top" 
                src="{% static 'assets/Image/狗狗玩具.jpg' %}"
                alt="..."
            />
            <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                News
                </div>
                <a
                class="text-decoration-none link-dark stretched-link"
                href="#!"
                ><h5 class="card-title mb-3">狗狗玩具</h5></a
                >
                <p class="card-text mb-0">description something about item</p>
                <p class="card-text mb-0">HKD$ 120</p>
                <a class="btn btn-primary" href="#" target="_blank">Buy</a>
            </div>
            </div>
        </div>
        </div>
        <!-- Call to action-->
        <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
        <div
            class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start"
        >
            <div class="mb-4 mb-xl-0">
            <div class="fs-3 fw-bold text-white">
                New products, delivered to you.
            </div>
            <div class="text-white-50">
                Sign up for our newsletter for the latest updates.
            </div>
            </div>
            <div class="ms-xl-4">
            <div class="input-group mb-2">
                <input
                class="form-control"
                type="text"
                placeholder="Email address..."
                aria-label="Email address..."
                aria-describedby="button-newsletter"
                />
                <button
                class="btn btn-outline-light"
                id="button-newsletter"
                type="button"
                >
                Sign up
                </button>
            </div>
            <div class="small text-white-50">
                We care about privacy, and will never share your data.
            </div>
            </div>
        </div>
        </aside>
    </div>
    </section>




{% endblock %}